* {
  box-sizing: border-box;
}

html {
  background-color: #333;
  color: #eee;
  font-family: monospace;
}

body {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: skyblue;
}

.sketch-area__grid {
  box-sizing: content-box;
  display: block;
  width: 480px;
  height: 480px;
  margin: 24px 0;
  border: 3px solid skyblue;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid__cell {
  outline: 1px dotted white;
}
